* {
    box-sizing: border-box;
}

body {
    background: var(--clrBg);
}

img {
    width: 100%;
    transition: 0.6s;
}

img:hover {
    scale: 1.05;
    cursor: pointer;
}

a {
    letter-spacing: .2em;
    color: var(--txtClrPrimary);
    text-decoration: none;
}

button {
    padding: 5px;
    border-radius: 10px;
}

button:hover {
    background-color: var(--txtClrSecondary);
}
