/* MOBILE ONLY */
@media (max-width: 500px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .drop-menu {
        position: sticky;
        top: 60px;
        text-align: center;
        gap: 2px;
        margin-bottom: 8px;
        z-index: 2;
    }

    .menu-item {
        padding: 5px;
        border-radius: 10px;
        background-color: var(--clrPrimary);
    }

    .menu-item:hover {
        background-color: var(--clrSecondary-1);
    }

}

/* SMALL */
@media (min-width: 500px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .drop-menu {
        display: none;
    }

    .btn-drop-menu {
        display: none;
    }

    .btn-gallery {
        display: inline;
    }

    .btn-about {
        display: inline;
    }

    .btn-rand {
        display: inline;
    }

    .editor.hide {
        display: none;
    }


}

/* MEDIUM */
@media (min-width: 620px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }

    .editor {
        height: 80vh;
        display: grid;
        grid-template-columns: 20px 3fr 2fr 20px;
    }

    .canvas-container {
        grid-column: 2;
        grid-row: 1 / 3;
    }

    .controls {
        grid-column: 3;
        display: flex;
        flex-direction: column;
        gap: 1em;
        justify-content: center;
        align-self: self-end;
    }

    .text-box {
        grid-column: 3;
        grid-row: 1;
        min-width: 70px;
        width: 100%;
    }

    .btn-share {
        width: 100px;
    }

    .editor.hide {
        display: none;
    }
}

/* LARGE */
@media (min-width: 980px) {
    .editor {
        grid-template-columns: 70px 4fr 2fr 50px;
    }

    .gallery {
        grid-template-columns: repeat(6, 1fr);
    }

    .editor {
        grid-template-columns: 70px 4fr 2fr 100px;
    }

    .canvas-container {
        width: 460px;
    }
}