.editor {
    gap: 10px;
    height: 90vh;
}

.canvas-container {
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    place-self: center;
    background-color: var(--clrPrimary);
    box-shadow: var(--boxShadow);
}

.controls {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-self: center;
    justify-content: center;
    align-items: stretch;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--clrPrimary);
    box-shadow: var(--boxShadow);
}

.line-controls {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.add-line {
    color: var(--txtClrPrimary);
    width: 30px;
    height: 30px;
    background-color: var(--clrAdd);
}

.switch-line {
    color: var(--txtClrPrimary);
    width: 30px;
    height: 30px;
    background-color: var(--clrSecondary);
}

.remove-line {
    color: var(--txtClrPrimary);
    width: 30px;
    height: 30px;
    font-weight: bold;
    background-color: var(--clrRemove);
}

.text-controls {
    border-radius: 10px;
    background-color: var(--clrSecondary-1);
    margin-top: 5px;
}


.font-change {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.btn-font-change {
    width: 30px;
}

.text-box {
    padding: 5px;
    width: 50vw;
    align-self: center;
    border-radius: 10px;
}


.text-align {
    display: flex;
    gap: 5px;
    justify-content: center;
    padding-bottom: 5px;
}

.font-select {
    padding: 5px;
    border-radius: 10px;
}

.stickers {
    place-self: center;
    width: max-content;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--txtClrPrimary);
    margin-top: 5px;
    margin-bottom: 2px;
}

.btn-sticker {
    border: none;
    background-color: none;
}

.share {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn-download {
    color: var(--txtClrPrimary);
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--clrSecondary);
}

.btn-share {
    width: 80px;
    height: fit-content;
    color: var(--txtClrPrimary);
    background-color: var(--clrSecondary1);
}

.a-download {
    place-self: center;
}

dialog {
    color: var(--txtClrPrimary);
    width: 50vh;
    height: 20vh;
    background-color: var(--clrSecondary-1);
}

.a-download:hover {
    color: var(--txtClrSecondary);
}

.hide {
    display: none;
}