.editor {
    gap: 10px;
}

.canvas-container {
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    place-self: center;
    background-color: rgb(9, 18, 63);
    box-shadow: -13px 11px 5px rgb(7, 10, 28);
}

.controls {
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    margin-top: 10px;
    align-self: center;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.line-controls {
    display: flex;
    gap: 10px;
    align-items: center;
}

.add-line {
    color: white;
    width: 30px;
    height: 30px;
    background-color: green;
}

.switch-line {
    color: white;
    width: 30px;
    height: 30px;
    background-color: rgb(25, 25, 88);
}

.remove-line {
    color: white;
    width: 30px;
    height: 30px;
    font-weight: bold;
    background-color: red;
}

.btn-color-change {
    grid-row: 1;
}

.font-change {
    grid-row: 1;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.btn-font-change {
    width: 30px;
}

.text-box {
    width: 50vw;
    align-self: center;
}


.btn-download {
    color: white;
    place-self: center;
    background-color: rgba(43, 43, 229, 0.823);
}

.a-download {
    place-self: center;
}

.hide {
    display: none;
}

dialog {
    width: 50vh;
    height: 20vh;
    background-color: rgb(9, 114, 114);
}