.main-header {
    position: sticky;
    top: 0;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    gap: 10px;
    border-radius: 10px;
    background: var(--clrFancy);
    z-index: 10;
}

.btn-gallery {
    color: var(--txtClrSecondary);
    text-transform: uppercase;
    font-weight: bold;
    background: var(--clrFancy1);
}

.btn-gallery:hover {
    cursor: pointer;
    scale: 1.05;
}

.btn-about {
    color: var(--txtClrSecondary);
    font-weight: bold;
    text-transform: uppercase;
    background: var(--clrFancy1);
}

.btn-about:hover {
    cursor: pointer;
    scale: 1.05;
}

.btn-rand {
    width: max-content;
    color: var(--txtClrPrimary);
    background-color: var(--clrSecondary-1);
    text-transform: uppercase;
}

.btn-rand:hover {
    animation-name: wiggle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.btn-drop-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: end;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
}

@keyframes wiggle {
    from {
        rotate: 0;
    }

    50% {
        rotate: 30deg;
    }

    to {
        rotate: -30deg;
    }
}