.main-header {
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    gap: 10px;
    border-radius: 10px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.btn-gallery {
    text-transform: uppercase;
    font-weight: bold;
    background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgb(200, 250, 250) 35%, rgb(200, 200, 200) 100%);

}

.btn-gallery:hover {
    cursor: pointer;
    scale: 1.05;
}

.btn-about {
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgb(200, 250, 250) 35%, rgb(200, 200, 200) 100%);

}

.btn-about:hover {
    cursor: pointer;
    scale: 1.05;
}

.btn-rand {
    width: max-content;
    color: white;
    background-color: rgb(10, 124, 124);
    text-transform: uppercase;
}

.btn-rand:hover {
    animation-name: wiggle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes wiggle {
    from {
        rotate: 0;
    }

    50% {
        rotate: 30deg;
    }

    to {
        rotate: -30deg;
    }
}